@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  padding: 40px;
  background-image: url("/img/earth.jpg");
}

header {
  min-height: 100px;
}
.home {
  font-size: 20px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-right: 40px;
  background-image: linear-gradient(56deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  padding: 5px 10px 8px 10px;
  border-radius: 20px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.home:hover {
  box-shadow: 0 0 0 2px rgb(255, 255, 255);

  transform: scale(1.05);
}


.content {
  display: grid;
  place-content: center;
}


video {
  position:absolute;
  right:0;
  bottom: 0;
  z-index: -1;
}

.container{
  max-width: 800px;
  background: rgb(255, 255, 255);
  width: 800px;
  padding: 25px 40px 10px 40px;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left:0;
  bottom:0;
  background: linear-gradient(-45deg, #4158D0, #C850C0 , #FFCC70);
  z-index: -1;
  filter: blur(30px);
}

.container .text{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  background: -webkit-linear-gradient(-45deg, #4158D0 0%, #C850C0 50%, #FFCC70 65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: -webkit-linear-gradient(right,#4158D0 , #C850C0 , #FFCC70 );
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right,#4158D0 , #C850C0 , #FFCC70 );
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}

@media (min-aspect-ratio: 16/9){
  .video {
    width: 100%;
    height: auto;
  }

}
@media (max-aspect-ratio: 16/9){
  .video {
    width: auto;
    height: 100%;
  }

}